/*Default CSS:*/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}


/*To do note:*/
.ToDoNote {
    border-style: solid;
    border-color: #2e2e2e;
    border-width: 3px;
}

.ToDoNote .labelTop {
    margin-left: 15px;
    margin-top: 15px;
}

.ToDoNote .label {
    margin-left: 15px;
}

.ToDoNote #title{
    margin-left: 15px;
    width: 50%;
    min-width: 500px;
}

.ToDoNote #note {
    margin-left: 15px;
    width: 80%;
    min-width: 800px;
    height: 250px;
    min-height: 100px;
    max-height: 800px;
}

.ToDoNote #date {
    width: 160px;
    margin-left: 15px;
}

/*Add new note button:*/
.ToDoNote .submit {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 10px;
    width: 120px;
    background-color: #bf0b1d;
    color: white;
    font-weight: bold;
}

.ToDoNote .submit:hover {
    background-color: #2e2e2e;
}


/*List of to do notes table:*/
.ToDoList{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
}

tr{
    border-width: 2px;
    border-style: solid;
    border-color: #2e2e2e;
    border-collapse: collapse;
}
