@page
@model IndexModel
@{
    ViewData["Title"] = "To Do List";
}

<asp:ScriptManager EnablePageMethods="true"></asp:ScriptManager>

<section>
    <div class="text-center">
        <!--Page title:-->
        <h1>To Do List</h1>
    </div>
    <div>
        <!--Add new note title:-->
        <h3>Add new note:</h3>

        <!--Add new note form (input fields):-->
        <form class="ToDoNote">
            <label for="title"><strong>Title:</strong></label><br>
            <input type="text" id="title" name="title" maxlength="50"/>                 <!--Input for to do title-->
            <br>
            <label for="note"><strong>To Do Note:</strong></label><br>
            <textarea type="text" id="note" name="note" maxlength="300"></textarea>     <!--Input for to do note-->
            <br>
            <label for="date"><strong>Deadline:</strong></label><br>
            <input type="date" id="date" name="date"/>                                  <!--Input for to do deadline date-->

            <!--Button to submit new to do note:-->
            <br>
            <button class="submit" onclick="AddNewNote(); return false;">Add Note</button>                                 
        </form>
    </div>
</section>
