@page
@model IndexModel
@{
    ViewData["Title"] = "To Do List";
}

<section>
    <div class="text-center">
        <h1>To Do List</h1>
    </div>
    <div>
        <h3>Add new note:</h3>
    </div>
</section>
