@page
@model IndexModel
@{
    ViewData["Title"] = "To Do List";
}

<section>
    <div class="text-center">
        <h1>To Do List</h1>
    </div>
    <div>
        <h3>Add new note:</h3>
        <form class="ToDoNote">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" maxlength="50"/>
            <br>
            <label for="note">To Do Note:</label><br>
            <input type="text" id="note" name="note"/>
            <br>
            <label for="date">Deadline:</label><br>
            <input type="text" id="date" name="date"/>
        </form>
    </div>
</section>
