@page
@model IndexModel
@{
    ViewData["Title"] = "To Do List";
}

<section>
    <div class="text-center">
        <!--Page title:-->
        <h1>To Do List</h1>
    </div>

    <!--Add new to do note:-->
    <div class="container">
        <!--Add new note title:-->
        <h3>Add new note:</h3>

        <!--Add new note form (input fields):-->
        <form class="ToDoNote">
            <label class="labelTop" for="title"><strong>Title:</strong></label><br>
            <input type="text" id="title" name="title" maxlength="50"/>                 <!--Input for to do title-->
            <br>
            <label class="label" for="note"><strong>To Do Note:</strong></label><br>
            <textarea type="text" id="note" name="note" maxlength="300"></textarea>     <!--Input for to do note-->
            <br>
            <label class="label" for="date"><strong>Deadline:</strong></label><br>
            <input type="date" id="date" name="date"/>                                  <!--Input for to do deadline date-->

            <!--Button to submit new to do note:-->
            <br>
            <button class="submit" onclick="AddNewNote()">Add Note</button>                                 
        </form>
    </div>

    <!--Added to do notes:-->
    <div class="container">
        <table runat="server" class="ToDoList">
            <tr>
                <td>Test Todo<br>Note text......<br>Deadline: 30/11/2023</td>
            </tr>
            <tr>
                <td>Test Todo</td>
            </tr>
            <tr>
                <td>Test Todo</td>
            </tr>
        </table>
    </div>
</section>
