@page "{handler?}/{title?}/{noteTxt?}/{date?}"
@model IndexModel
@{
    ViewData["Title"] = "To Do List";
}

<section>
    <div class="text-center">
        <!--Page title:-->
        <h1>To Do List</h1>
    </div>

    <!--Add new to do note:-->
    <div class="PageContainer">
        <!--Add new note title:-->
        <h3>Add new note:</h3>

        <!--Add new note form (input fields):-->
        <form class="ToDoNote" asp-page-handler="AddNote" method="post">
            <label class="labelTop" for="title"><strong>Title:</strong></label><br>
            <input type="text" id="title" name="title" maxlength="50"/>                 <!--Input for to do title-->
            <br>
            <label class="label" for="noteTxt"><strong>To Do Note:</strong></label><br>
            <textarea type="text" id="noteTxt" name="noteTxt" maxlength="300"></textarea>     <!--Input for to do note-->
            <br>
            <label class="label" for="date"><strong>Deadline:</strong></label><br>
            <input type="date" id="date" name="date"/>                                  <!--Input for to do deadline date-->

            <!--Button to submit new to do note:-->
            <br>
            <ng-form asp-page-handler="AddNote" method="post">
                <button class="submit">Add Note</button>    
                <input type="hidden" name="title"/>
                <input type="hidden" name="noteTxt"/>
                <input type="hidden" name="date"/>
            </ng-form>
            
        </form>
    </div>

    <!--Added to do notes:-->
    <div class="PageContainer">
        <!--Existing notes title:-->
        <h3>Existing notes:</h3>
        
        @{
            List<List<string>> dbData = new List<List<string>>();
            List<string> dbRow = new List<string>();

            var title = "test";
            var noteTxt = "test note";
            var date = DateTime.Now.Date;
        }

        <!--Table containing existing to do notes:-->
        <table runat="server" id="ToDoList">
            <tr>
                <td>@title<br>@noteTxt<br><strong>Deadline:</strong> @date</td>
            </tr>
        </table>
    </div>
</section>
